  
body {
     font-family: Arial, sans-serif;
     background-color: #f0f0f0; /* Light gray background */
     color: #333; /* Dark gray text color */
     margin: 0;
     padding: 0;
 }

 .container {
     
     
     max-width: 800px;
     margin: 5px auto;
     padding: 20px;
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
 }

 h1 {
     color:rgb(255, 34, 0); 
 }

 button {
     background-color: #ff00eee0; 
     color: #fff; 
     border: none;
     padding: 10px 20px;
     cursor: pointer;
     border-radius: 5px;
     margin-top: 10px;
 }

 button:hover {
     background-color: #0056b3; 
 }

 p {
     margin: 5px 0;
     color:goldenrod;
 }


 li {
     margin: 10px 0;
     color: rgb(45, 12, 210);
     margin-left: 10px;
     
 }
